<h1>New Week</h1>
<%= form_with model: @week do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label%>
  <div>
    <%= form.submit %>
  </div>
<% end%>