<h1>New Recipe</h1>
<%= form_with model: @recipe do |form| %>
<div class="row">
  <div class="col">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="col">
    <%= form.label :timetocook %>
    <%= form.text_field :timetocook %>
  </div>
  <div class="col">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div class="col">
    <%= form.label :steps %>
    <%= form.text_field :steps %>
  </div>
  <div>
    <%= form.submit %>
  </div>
</div>
<% end%>